{% extends "template.html" %} {% block content %}
<form action="{{ url_for('handle_data') }}" method="post">
    <div class="form-row">
        <div class="form-group col">
            <label>Name</label>
            <input type="text" name="firstname" class="form-control" placeholder="First" required>
        </div>
        <div class="form-group col">
            <label>Name</label>
            <input type="text" name="lastname" class="form-control" placeholder="Last" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Age (years)</label>
            <input type="number" name="age" class="form-control" step="1" required>
        </div>
        <div class="form-group col">
            <label>I write with my</label>
            <select name="persontype" class="custom-select" required>
                <option value="" selected>Choose</option>
                <option value="0">Right Hand</option>
                <option value="1">Left Hand</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Group Affiliation</label>
            <script>
                function droppy() {
                    if ($(document.getElementById('schoolselect')).val() == "other") {
                        document.getElementById('otherschool').style.display = "block";
                    } else {
                        document.getElementById('otherschool').style.display = "none";
                    }
                }
            </script>
            <select name="school" class="custom-select" onchange="droppy()" id="schoolselect" required>
                <option value="" selected>Choose...</option>
                {% for school in data.schools %}
                <option value="{{school}}">{{school}}</option>
                {% endfor %}
                <option value="other">Other (please enter):</option>
                <input type="text" id="otherschool" name="otherschool" class="form-control" placeholder=""
                    style="display:none;">
            </select>
        </div>
        <div class="form-group col">
            <label>College Basketball Knowledge</label>
            <select name="knowledge" class="custom-select" required>
                <option value="" selected>Choose...</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A Lot</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Email (for sending updated standings)</label>
            <input type="email" name="email" class="form-control" placeholder="you@example.com">
        </div>
    </div>
    <h3>{{data.southname}}</h3>
    <hr> {{wholebracket("south",data.competing.southteams)}}
    <h3>{{data.westname}}</h3>
    <hr> {{wholebracket("west",data.competing.westteams)}}
    <h3>{{data.eastname}}</h3>
    <hr> {{wholebracket("east",data.competing.eastteams)}}
    <h3>{{data.midwestname}}</h3>
    <hr> {{wholebracket("midwest",data.competing.midwestteams)}}
    <h3>Final Four</h3>
    <hr>
    <div class="form-row" style="min-width:800px;">
        {{simpleRound("F",4,4)}} {{simpleRound("F",5,2)}} {{simpleRound("F",6,1)}}
    </div>
    Please do not click submit until you have the entire bracket filled out.
    <div class="form-row">
        <button type="submit" class="btn btn-success btn-submit">Submit</button>
    </div>
</form>
<script src="static/js/bracket.js"></script>
{% endblock %}
