{% extends "template.html" %} {% block content %}
<form action="{{ url_for('handle_data') }}" method="post">
    <div class="form-row">
    <script>
        function handleMainChoice() {
            const mainChoice = document.querySelector('input[name="main-choice"]:checked').value;
            const choice1Section = document.getElementById('choice-1-section');
            const choice2Section = document.getElementById('choice-2-section');
            const choice3Section = document.getElementById('choice-3-section');
            const choice4Section = document.getElementById('choice-4-section');
            const choice5Section = document.getElementById('choice-5-section');
            const choice6Section = document.getElementById('choice-6-section');
            const choice7Section = document.getElementById('choice-7-section');

            choice1Section.classList.toggle('hidden', mainChoice !== 'choice1');
            choice2Section.classList.toggle('hidden', mainChoice !== 'choice2');
            choice3Section.classList.toggle('hidden', mainChoice !== 'choice3');
            choice4Section.classList.toggle('hidden', mainChoice !== 'choice4');
            choice5Section.classList.toggle('hidden', mainChoice !== 'choice5');
            choice6Section.classList.toggle('hidden', mainChoice !== 'choice6');
            choice7Section.classList.toggle('hidden', mainChoice !== 'choice7');
        }

        function goToNextSectionChoice1(event) {
            event.preventDefault();

            const classCode = document.getElementById('class-code');
            const studentCode = document.getElementById('student-code');

            if (!classCode.value) {
                alert('Please select a Class Code.');
                classCode.focus();
                return;
            }

            if (!studentCode.value || studentCode.value < 1 || studentCode.value > 99) {
                alert('Please enter a valid numerical student code between 1 and 99.');
                studentCode.focus();
                return;
            }

            document.getElementById('firstname').textContent = "Student";
            document.getElementById('lastname').textContent = studentCode.value;
            document.getElementById('school').textContent = classCode.value;
        }

        function goToNextSectionChoice2(event) {
            event.preventDefault();

            const classCode = document.getElementById('class-code-hs');
            const firstname = document.getElementById('firstname-hs');
            const lastname = document.getElementById('lastname-hs');

            if (!classCode.value) {
                alert('Please select a Class Code.');
                classCode.focus();
                return;
            }

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = classCode.value;
        }

        function goToNextSectionChoice3(event) {
            event.preventDefault();

            const highSchoolSelect = document.getElementById('high-school-select');
            const firstname = document.getElementById('firstname-hs');
            const lastname = document.getElementById('lastname-hs');

            if (!highSchoolSelect.value) {
                alert('Please select a High School.');
                highSchoolSelect.focus();
                return;
            }

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = highSchoolSelect.value;
        }

        function goToNextSectionChoice4(event) {
            event.preventDefault();

            const classCode = document.getElementById('class-code-adult');
            const firstname = document.getElementById('firstname-adult');
            const lastname = document.getElementById('lastname-adult');

            if (!classCode.value) {
                alert('Please select a Class Code.');
                classCode.focus();
                return;
            }

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = classCode.value;
        }

        function goToNextSectionChoice5(event) {
            event.preventDefault();

            const building = document.getElementById('building');
            const firstname = document.getElementById('firstname-building');
            const lastname = document.getElementById('lastname-building');

            if (!building.value) {
                alert('Please select a Building.');
                building.focus();
                return;
            }

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = building.value;
        }

        function goToNextSectionChoice6(event) {
            event.preventDefault();

            const highSchoolGraduated = document.getElementById('high-school-graduated');
            const firstname = document.getElementById('firstname-graduated');
            const lastname = document.getElementById('lastname-graduated');

            if (!highSchoolGraduated.value) {
                alert('Please select the High School you graduated from.');
                highSchoolGraduated.focus();
                return;
            }

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = highSchoolGraduated.value;
        }

        function goToNextSectionChoice7(event) {
            event.preventDefault();

            const firstname = document.getElementById('firstname-child');
            const lastname = document.getElementById('lastname-child');

            if (!firstname.value || !lastname.value) {
                alert('Please enter both First Name and Last Name.');
                return;
            }

            document.getElementById('firstname').textContent = firstname.value;
            document.getElementById('lastname').textContent = lastname.value;
            document.getElementById('school').textContent = "N/A";  // Optional school for choice 7
        }
    </script>
</head>
<body>
    <h1>Dynamic Survey</h1>

    <form id="first-section">
        <!-- Question 1 -->
        <fieldset>
            <legend>Which best describes you?</legend>
            <label><input type="radio" name="main-choice" value="choice1" onclick="handleMainChoice()"> I am an elementary or middle school student filling out a bracket for my class.</label><br>
            <label><input type="radio" name="main-choice" value="choice2" onclick="handleMainChoice()"> I am a high school student filling out a bracket for my class.</label><br>
            <label><input type="radio" name="main-choice" value="choice3" onclick="handleMainChoice()"> I am a student 13 years or older filling out a bracket for myself.</label><br>
            <label><input type="radio" name="main-choice" value="choice4" onclick="handleMainChoice()"> I am 13 years or older and filling out a bracket with a group code.</label><br>
            <label><input type="radio" name="main-choice" value="choice5" onclick="handleMainChoice()"> I am a Carmel Clay Schools employee.</label><br>
            <label><input type="radio" name="main-choice" value="choice6" onclick="handleMainChoice()"> I am an adult filling out a bracket for myself.</label><br>
            <label><input type="radio" name="main-choice" value="choice7" onclick="handleMainChoice()"> I am an adult filling out a bracket for my child under 13 years of age.</label>
        </fieldset>

        <!-- Choice 1: Elementary or Middle School Student -->
        <div id="choice-1-section" class="hidden">
            <fieldset>
                <legend>Elementary/Middle School Details</legend>
                <label for="class-code">Select a Group Code:</label>
            <script>
                function droppy() {
                    if ($(document.getElementById('schoolselect')).val() == "other") {
                        document.getElementById('otherschool').style.display = "block";
                    } else {
                        document.getElementById('otherschool').style.display = "none";
                    }
                }
            </script>
<select name="school" class="custom-select" onchange="droppy()" id="schoolselect" required>
                <option value="" selected>Choose...</option>
                {% for school in data.schools %}
                <option value="{{school}}">{{school}}</option>
                {% endfor %}
                <option value="other">Other (please enter):</option>
                <input type="text" id="otherschool" name="otherschool" class="form-control" placeholder=""
                    style="display:none;">
            </select>

                <label for="student-code">Enter your numerical student code (1-99):</label>
                <input type="number" id="student-code" name="student-code" min="1" max="99" required><br>

            <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="5" max="15" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>
            </fieldset>
        </div>

        <!-- Choice 2: High School Student (Class) -->
        <div id="choice-2-section" class="hidden">
            <fieldset>
                <legend>High School Class Details</legend>
                <label for="class-code-hs">Select a Class Code:</label>
                <select id="class-code-hs" name="class-code-hs" required>
                    <option value="">-- Select Class Code --</option>
                    <option value="Class1">Class1</option>
                    <option value="Class2">Class2</option>
                    <option value="Class3">Class3</option>
                    <option value="Class4">Class4</option>
                    <option value="Class5">Class5</option>
                </select><br>

                <label for="firstname-hs">First Name:</label>
                <input type="text" id="firstname-hs" name="firstname-hs" required><br>

                <label for="lastname-hs">Last Name:</label>
                <input type="text" id="lastname-hs" name="lastname-hs" required><br>

            <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="13" max="19" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>
            </fieldset>
        </div>

        <!-- Choice 3: Student (Self) -->
<div id="choice-3-section" class="hidden">
    <fieldset>
        <legend>Student - Bracket for Myself</legend>
        <label for="high-school-attending">Select School Attending:</label>
        <select id="high-school-attending" name="high-school-attending" required onchange="toggleOtherHighSchoolInput()">
            <option value="">-- Select School --</option>
            <option value="CHS">Carmel High School</option>
            <option value="NHS">Noblesville High School</option>
            <option value="WHS">Westfield High School</option>
            <option value="HSE">Hamilton Southeastern High School</option>
            <option value="Fishers">Fishers High School</option>
            <option value="Other">Other</option>
        </select><br>

        <div id="other-high-school-container" class="hidden">
            <label for="other-high-school">Please enter the name of your school:</label>
            <input type="text" id="other-high-school" name="other-high-school"><br>
        </div>

        <label for="firstname-high-school">First Name:</label>
        <input type="text" id="firstname-high-school" name="firstname-high-school" required><br>

        <label for="lastname-high-school">Last Name:</label>
        <input type="text" id="lastname-high-school" name="lastname-high-school" required><br>

            <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="13" max="19" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>
    </fieldset>
</div>

<script>
    function toggleOtherHighSchoolInput() {
        const highSchoolSelect = document.getElementById('high-school-attending');
        const otherHighSchoolInput = document.getElementById('other-high-school-container');
        
        // Show the text input only when "Other" is selected
        if (highSchoolSelect.value === 'Other') {
            otherHighSchoolInput.classList.remove('hidden');
        } else {
            otherHighSchoolInput.classList.add('hidden');
        }
    }
</script>
        
       <!-- Choice 4: Adult filling out a bracket with a group code -->
<div id="choice-4-section" class="hidden">
    <fieldset>
        <legend>Adult with Group Code</legend>
        <label for="class-code-adult">Select a Group Code:</label>
        <select id="class-code-adult" name="class-code-adult" required>
            <option value="">-- Select Code --</option>
            <option value="Class1">Class1</option>
            <option value="Class2">Class2</option>
            <option value="Class3">Class3</option>
            <option value="Class4">Class4</option>
            <option value="Class5">Class5</option>
        </select><br>

        <label for="firstname-adult">First Name:</label>
        <input type="text" id="firstname-adult" name="firstname-adult" required><br>

        <label for="lastname-adult">Last Name:</label>
        <input type="text" id="lastname-adult" name="lastname-adult" required><br>

            <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="13" max="99" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>
    </fieldset>
</div>

<!-- Choice 5: Carmel Clay Schools Employee -->
<div id="choice-5-section" class="hidden">
    <fieldset>
        <legend>Carmel Clay Schools Employee</legend>
        <label for="building">Select your Building:</label>
        <select id="building" name="building" required>
            <option value="">-- Select Building --</option>
            <option value="CHS">Carmel High School</option>
            <option value="Clay">Clay Middle School</option>
            <option value="Carmel">Carmel Elementary</option>
            <option value="Creekside">Creekside Middle School</option>
            <option value="ESC">ESC (Educational Services Center)</option>
            <option value="Other">Other</option>
        </select><br>

        <label for="firstname-building">First Name:</label>
        <input type="text" id="firstname-building" name="firstname-building" required><br>

        <label for="lastname-building">Last Name:</label>
        <input type="text" id="lastname-building" name="lastname-building" required><br>

            <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="18" max="99" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>
    </fieldset>
</div>

<!-- Choice 6: Adult filling out a bracket for themselves -->
<div id="choice-6-section" class="hidden">
    <fieldset>
        <legend>Adult - High School Graduated</legend>
        <label for="high-school-graduated">Select High School Graduated From:</label>
        <select id="high-school-graduated" name="high-school-graduated" required onchange="toggleOtherGraduatedHighSchoolInput()">
            <option value="">-- Select High School --</option>
            <option value="CHS">Carmel High School</option>
            <option value="Other">Other</option>
        </select><br>

        <div id="other-graduated-high-school-container" class="hidden">
            <label for="other-graduated-high-school">Please enter the name of your high school:</label>
            <input type="text" id="other-graduated-high-school" name="other-graduated-high-school"><br>
        </div>

        <label for="firstname ">First Name:</label>
        <input type="text" id="firstname-graduated" name="firstname" required><br>

        <label for="lastname ">Last Name:</label>
        <input type="text" id="lastname-graduated" name="lastname" required><br>

                    <!-- Age -->
            <label for="age">Enter your age:</label>
            <input type="number" id="age" name="age" min="18" max="99" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select your writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate your college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State you live in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>

    </fieldset>
</div>

<script>
    function toggleOtherGraduatedHighSchoolInput() {
        const highSchoolSelect = document.getElementById('high-school-graduated');
        const otherHighSchoolInput = document.getElementById('other-graduated-high-school-container');
        
        // Show the text input only when "Other" is selected
        if (highSchoolSelect.value === 'Other') {
            otherHighSchoolInput.classList.remove('hidden');
        } else {
            otherHighSchoolInput.classList.add('hidden');
        }
    }
</script>

<!-- Choice 7: Adult filling out a bracket for their child under 13 -->
<div id="choice-7-section" class="hidden">
    <fieldset>
        <legend>Adult with Child under 13</legend>
        <label for="school">Optional: Enter School:</label>
        <input type="text" id="school" name="school"><br>

       <label for="firstname">Child's First Name:</label>
        <input type="text" id="firstname-child" name="firstname" required><br>

        <label for="lastname">Child's Last Name:</label>
        <input type="text" id="lastname-child" name="lastname" required><br>

                 <!-- Age -->
            <label for="age">Enter child's age:</label>
            <input type="number" id="age" name="age" min="1" max="12" required><br>

            <!-- Writing Hand -->
            <label for=" persontype ">Select child's writing hand:</label>
            <select id=" persontype " name=" persontype " required>
                <option value="">-- Select Writing Hand --</option>
                <option value="0">Right</option>
                <option value="1">Left</option>
            </select><br>

            <!-- College Basketball Knowledge -->
            <label for="knowledge">Rate child's college basketball knowledge:</label>
            <select id="knowledge" name="knowledge" required>
                <option value="">-- Select Knowledge Level --</option>
                <option value="0">None</option>
                <option value="1">Little</option>
                <option value="2">Moderate</option>
                <option value="3">A lot</option>
            </select><br>
            
            <!-- State -->
            <label for="state">State child lives in:</label>
            <select id="state" name="state" required>
                <option value="">-- Select State --</option>
                <option value="indiana">Indiana</option>
                <option value="alabama">Alabama</option>
    </select><br>
            <button type="submit">Submit</button>

    </fieldset>
</div>
 
    </form>

<script>
    function toggleOtherGraduatedHighSchoolInput() {
        const highSchoolSelect = document.getElementById('high-school-graduated');
        const otherHighSchoolInput = document.getElementById('other-graduated-high-school-container');
        
        // Show the text input only when "Other" is selected
        if (highSchoolSelect.value === 'Other') {
            otherHighSchoolInput.classList.remove('hidden');
        } else {
            otherHighSchoolInput.classList.add('hidden');
        }
    }

    function goToNextSectionChoice6(event) {
        event.preventDefault();

        const highSchoolGraduated = document.getElementById('high-school-graduated');
        const firstname = document.getElementById('firstname-graduated');
        const lastname = document.getElementById('lastname-graduated');

        if (!highSchoolGraduated.value) {
            alert('Please select the High School you graduated from.');
            highSchoolGraduated.focus();
            return;
        }

        if (!firstname.value || !lastname.value) {
            alert('Please enter both First Name and Last Name.');
            return;
        }

        // Get the school name and append "Alumni" for Choice 6
        let school = highSchoolGraduated.value;
        if (school !== 'Other') {
            school = school + " Alumni";  // Add Alumni to the school name if it is not "Other"
        }

        // Update the school value
        document.getElementById('school-select').value = school; // Set the final school variable with the updated name

        // Optionally, display the selected values (this is just for confirmation)
        document.getElementById('firstname').textContent = firstname.value;
        document.getElementById('lastname').textContent = lastname.value;
        document.getElementById('school').textContent = school;
    }
</script>




    </div>
    </div>
    </div>
    </div>
    <h3>{{data.southname}}</h3>
    <hr> {{wholebracket("south",data.competing.southteams)}}
    <h3>{{data.westname}}</h3>
    <hr> {{wholebracket("west",data.competing.westteams)}}
    <h3>{{data.eastname}}</h3>
    <hr> {{wholebracket("east",data.competing.eastteams)}}
    <h3>{{data.midwestname}}</h3>
    <hr> {{wholebracket("midwest",data.competing.midwestteams)}}
    <h3>Final Four</h3>
    <hr>
    <div class="form-row" style="min-width:800px;">
        {{simpleRound("F",4,4)}} {{simpleRound("F",5,2)}} {{simpleRound("F",6,1)}}
    </div>
    Please do not click submit until you have the entire bracket filled out.
    <div class="form-row">
        <button type="submit" class="btn btn-success btn-submit">Submit</button>
    </div>
</form>
<script src="static/js/bracket.js"></script>
{% endblock %}
