{% extends "template.html" %}
{% block content %}

<script src="static/js/graphing.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(callback);
responses = [
	{% for resp in responses %}
		{"Score":resp["score"],"Age":resp["age"],"Gender":resp["gender"],"Knowledge":resp["knowledge"]},
	{% endfor %}
]
variables = {
	"Score"    :{type:"continuous",unit:""}
	"Age"      :{type:"continuous",unit:"Years"}
	"Gender"   :{type:"categorical",bins:["Male","Female"]}
	"Knowledge":{type:"categorical",bins:["None","Little","Moderate","A Lot"]}
	"None":     {type:"neither"}
}
function callback() {
  document.getElementById("xaxis").onchange = function() {updategraph();};
  document.getElementById("yaxis").onchange = function() {updategraph();};
  updategraph();
}
function updategraph() {
	var xax = document.getElementById("xaxis").value;
	var yax = document.getElementById("yaxis").value;
	if (variables[xax].type == "categorical" && variables[yax].type == "categorical") {
		var res = ["ignored"]+variables[yax].bins+[{ role: 'annotation' }];
		variables[xax].bins.forEach(function (g, i) {
			var resres = [g];
			for resp in responses {if resp[xax] == i {resres.append(responses[yax]);}}
			res.push(resres+['']);
		});
		drawStackedBar(res,"graph1",yax+" vs "+xax,false);
	}
	if (variables[xax].type == "categorical" && variables[yax].type == "continuous") {
		var res = [];
		var yscale = yax + (variables[yax].unit == "" ? " " : " ("+variables[yax].unit+")");
		variables[xax].bins.forEach(function (g, i) {
			var resres = [g];
			for resp in responses {if resp[xax] == i {resres.append(responses[yax]);}}
			res.push(resres);
		});
		drawBoxPlot(res,"graph1",yax+" vs "+xax,"#D3362D",yscale,false);
	}
	if (variables[xax].type == "continuous" && variables[yax].type == "categorical") {
		var res = [];
		var xscale = xax + (variables[xax].unit == "" ? " " : " ("+variables[xax].unit+")");
		variables[yax].bins.forEach(function (g, i) {
			var resres = [g];
			for resp in responses {if resp[yax] == i {resres.append(responses[xax]);}}
			res.push(resres);
		});
		drawBoxPlot(res,"graph1",yax+" vs "+xax,"#D3362D",xscale,true)
	}
	if (variables[xax].type == "continuous" && variables[yax].type == "continuous") {
		var yscale = yax + (variables[yax].unit == "" ? " " : " ("+variables[yax].unit+")");
		var xscale = xax + (variables[xax].unit == "" ? " " : " ("+variables[xax].unit+")");
		var res = [[xax,yax]];
		for resp in responses {
			res.append([responses[xax],responses[yax]]);
		}
		drawScatterPlot(res,"graph1",yax+" vs "+xax,xscale,yscale);
	}
}
</script>
<div class="form-row">
    <div class="form-group col">
        <label>Dependant Axis</label>
        <select name="yaxis" id="yaxis" class="custom-select">
            <option value="Score">Score</option>
            <option value="Age">Age</option>
            <option value="Gender">Gender</option>
            <option value="Knowledge">Knowledge</option>
        </select>
    </div>
    <div class="form-group col">
        <label>Independant Axis</label>
        <select name="xaxis" id="xaxis" class="custom-select">
            <option value="Score">Score</option>
            <option value="Age">Age</option>
            <option value="Gender">Gender</option>
            <option value="Knowledge">Knowledge</option>
            <option value="None">None (1d statistics)</option>
        </select>
    </div>
</div>
<div id="graph1" style="width: 900px; height: 500px;"></div>

{% endblock %}